# Configuration de l'application PMR Nantes

# API IGN
VITE_IGN_API_KEY=essentiels
VITE_IGN_GEOCODE_URL=https://wxs.ign.fr/essentiels/geoportal/v1/geocode/json
VITE_IGN_ROUTING_URL=https://wxs.ign.fr/essentiels/geoportal/v1/route

# API Nantes Métropole
VITE_NANTES_METROPOLE_API=https://data.nantesmetropole.fr/api/explore/v2.1/catalog/datasets/244400404_emplacements-pmr-nantes-metropole/records

# Configuration de la carte
VITE_DEFAULT_ZOOM=13
VITE_DEFAULT_CENTER_LAT=47.2173
VITE_DEFAULT_CENTER_LON=-1.5534

# Mode développement
VITE_DEBUG=false

# Environnement
VITE_ENVIRONMENT=development

